.aboutpage{
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: center;
}

.section-about{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}
.message{
    width: 649px;
    line-height: 1.9;
    font-size: 20px;
    box-shadow: rgb(149 157 165 / 20%) 0px 8px 24px;
}
h1{
    margin: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}